/* ====RESET============ */
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* ====VARIABLES=========== */
:root {
  /* text color */
  --title-color: hsla(0, 0%, 100%, 1);
  --subTitle-color: hsla(231, 79%, 90%, 1);

  /* fonts-size */
  --subTitle-font-size: 40px;
  --title-font-size: 160px;
  --text-font-size: 19px;
  --nav-font-size: 22px;
  --destine-font-size: 130px;
  --number-font-size: 40px;

  /* fonts-family */
  --title-font: 'Bellefair', sans-serif;
  --subTitle-font: 'Barlow Condensed', sans-serif;
  --text-font: 'Barlow', sans-serif;
}

/* ====HEADER========= */

.grid {
  display: flex;
  gap: 5rem;
}

.grid-name {
  display: flex;
  gap: 3rem;
}


#header {
  display: flex;
  align-items: left;
  position: relative;
  top: 50px;
  justify-content: flex-end;
  min-width: 1000px;
}

.line {
  position: absolute;
  width: 700px;
  height: 1px;
  left: 195px;
  top: 55px;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.25;
}

.efect {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 45px;
  padding-right: 140px;
  padding-left: 50px;
}
.nav {
  color: var(--title-color);
  font-family: var(--subTitle-font);
  font-size: var(--nav-font-size);
  line-height: 20px;
  letter-spacing: 3px;
  text-decoration: none;  
}


/* =========FIX======= */
#containerImage {
<<<<<<< HEAD
  position: relative;
=======
  position: fixed;
  height: 100vh;
  width: 100vw;
>>>>>>> e956c72124be69eb3f8c692cb409982f36cb128c
  background-image: url(../assets/destination/background-destination-desktop.jpg);
  background-size: cover;
}
#container{
  display: flex;
  flex-direction: column;  
  min-width: 1200px;
}
#fixe{
  display: flex;
  position: relative;
  top: 4rem;
}

.left{
  flex: 1;
  display: flex;
  position: relative;
  justify-content: center;

}
.infos{
  flex: 1;
  position: relative;
  display: flex;
  margin-left: 3rem;
  top: 3rem;
}

.subTitle {
  font-family: var(--subTitle-font);
  color: var(--subTitle-color);
  font-size: var(--subTitle-font-size);
  letter-spacing: 5px;
}


button {
  color: var(--subTitle-color);
  font-family: var(--subTitle-font);
  font-size: var(--nav-font-size);
  letter-spacing: 3px;
  text-decoration: none;
  border: none;
  background: none;
  }

button:hover{
  color: rgb(138, 136, 135);
  text-decoration: underline;
  cursor: pointer;
}

/* =========NOT FIX======== */
div#container-flex{
  display: flex;
  position: relative;
  top: 5rem;  

}

/* toggle */

#mars,
#europa,
#titan {
  display: none;

}

#moon {
  display: flex;
}

/* ====TODOS==== */



.moon,
.mars,
.europa,
.titan {  
  position: relative;
  top: 30px;
  height: 90%;
}

.container-planets{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  position: relative;
  right: 3rem;
}

.text {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  margin-top: 30px;
  margin-left: 2rem;
}

.titleDestine {
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: 100;
  font-size: var(--destine-font-size);
  letter-spacing: 5px;
  position: relative;
  margin-left: 1rem;
}

.textDestine {
  color: var(--subTitle-color);
  font-family: var(--text-font);
  font-size: var(--text-font-size);
  line-height: 35px;
  letter-spacing: 1px;
  padding-right: 12rem;
  text-align: justify;
}

.lineBottom {
  height: 1px; 
  width: 35rem;
  margin-top: .5rem;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.25;
}


#container-grid{
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 2;
  margin: .7rem;
  gap: .4rem;
}

.infoDesntineKm { 
  color: var(--subTitle-color);
  font-family: var(--subTitle-font);
  font-size: var(--text-font-size);  
}

.infoDestineDays {
  
  color: var(--subTitle-color);
  font-family: var(--subTitle-font);
  font-size: var(--text-font-size);
 

}
.dataDestineKm {
 
  color: var(--title-color);
  font-family: var(--title-font);
  font-size: var(--number-font-size);
 

}

.dataDestineDays {
  
  color: var(--title-color);
  font-family: var(--title-font);
  font-size: var(--number-font-size);


}
